{
  "env": {
    "es": {
      "presets": [
        ["env", {
          "modules": false
        }]
      ],
      "plugins": [
        "transform-runtime",
        "annotate-pure-calls"
      ]
    },
    "cjs": {
      "presets": [
        ["env", {
          "targets": {
            "node": "6.5"
          },
          "modules": false
        }]
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-runtime",
        "annotate-pure-calls"
      ]
    },
    "umd": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["ie >= 11"]
          },
          "modules": false
        }]
      ],
      "plugins": ["external-helpers"],
      "comments": false
    }
  }
}
