{
  "env": {
    "es": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false
        }]
      ],
      "plugins": ["annotate-pure-calls"]
    },
    "cjs": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "6.5"
          },
          "modules": false
        }]
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "annotate-pure-calls"
      ]
    },
    "umd": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "ie": "11"
          },
          "modules": false
        }]
      ],
      "plugins": ["@babel/plugin-external-helpers"],
      "comments": false
    }
  }
}
